figure.product-media a img {
  padding: 2rem;
  background-color: #fff;
}

.sticky-bar figure.product-media a img {
  padding: 0 !important;
}

.table-cart figure.product-media a img,
.table-orders figure.product-media a img,
.table-wishlist figure.product-media a img {
  padding: 0.5rem;
  background-color: #fff;
}

.table.table-cart .total-col {
  width: auto;
}

.summary-cart .table.table-summary .summary-total td:last-child {
  min-width: 100px !important;
}

.btn-remove {
  color: #cccccc !important;
}

.table-orders tbody tr:last-child > td{
  border: 0;
  padding-bottom: 1.5rem;
}