<div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
  <form action="#">
    <label>Full name *</label>
    <input type="text" class="form-control" value="{{ user.full_name }}" required>

    <label>Email address *</label>
    <input type="email" class="form-control" value="{{ user.email }}" required>

    <label>Current password (leave blank to leave unchanged)</label>
    <input type="password" class="form-control">

    <label>New password (leave blank to leave unchanged)</label>
    <input type="password" class="form-control">

    <label>Confirm new password</label>
    <input type="password" class="form-control mb-2">

    <button type="submit" class="btn btn-outline-primary-2">
      <span>SAVE CHANGES</span>
      <i class="icon-long-arrow-right"></i>
    </button>
  </form>
</div><!-- .End .tab-pane -->