{% load static %}
{% load humanize %}

<div class="product product-2">
  <figure class="product-media">
    <span class="product-label label-circle label-top">Top</span>
    <a href="{{ product.get_url }}">
      <img src="{{ product.images.url }}" alt="Product image"
        class="product-image">
    </a>

    <div class="product-action-vertical">
      <a href="" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
    </div><!-- End .product-action -->

    <div class="product-action">
      <a data-product="{{ product.id }}" class="btn-product btn-cart add-cart-btn" title="Add to cart"><span>Add to cart</span></a>
    </div><!-- End .product-action -->
  </figure><!-- End .product-media -->

  <div class="product-body">
    <div class="product-cat">
      <a href="{{ product.category.get_url }}">{{ product.category }}</a>
    </div><!-- End .product-cat -->
    <h3 class="product-title"><a href="{{ product.get_url }}">{{ product|truncatechars_html:50 }}</a></h3>
    <!-- End .product-title -->
    <div class="product-price">
      {{ product.price|intcomma }} đ
    </div><!-- End .product-price -->
    <div class="ratings-container">
      <div class="ratings">
        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
      </div><!-- End .ratings -->
      <span class="ratings-text">( 4 Reviews )</span>
    </div><!-- End .rating-container -->

    <div class="product-nav product-nav-dots">
      <a href="#" style="background: #69b4ff;"><span class="sr-only">Color name</span></a>
      <a href="#" style="background: #ff887f;"><span class="sr-only">Color name</span></a>
      <a href="#" class="active" style="background: #333333;"><span class="sr-only">Color
          name</span></a>
    </div><!-- End .product-nav -->
  </div><!-- End .product-body -->
</div>